<h1>Welcome to The Wall!</h1>
<h3>Login</h3>

<ul ng-if='errors'>
   <li class='login' ng-repeat='error in errors track by $index' ng-bind='error.errorMessage' ng-if='error.errorType==="login"'></li>
</ul>
<form ng-submit='login()'>
   Username:<input type="text" name="username" ng-model='user.username'>
   Password:<input type="password" name="password" ng-model='user.password'>
   <button type="submit" name="button">Login</button>
</form>
<hr>
<h3>Register</h3>
<ul ng-if='errors'>
   <li class='registration' ng-repeat='error in errors track by $index' ng-bind='error.errorMessage' ng-if='error.errorType==="registration"'></li>
</ul>
<form ng-submit='register()'>
   <input type="text" name="username" ng-model='newUser.username' placeholder='username'>
   <input type="password" name="password" ng-model='newUser.password' placeholder='Password'>
   <input type="password" name="confirm_password" ng-model='passwordConf' placeholder='Confirm Password'>
   <input type="text" name="first_name" ng-model='newUser.name.first' placeholder='First Name'>
   <input type="text" name="last_name" ng-model='newUser.name.last' placeholder='Last Name'>
   <button type="submit" name="button">Register</button>
</form>
